<html>

<head>
  <title>VoetbalVereniging</title>
</head>

<body>
  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxLayout="row wrap">
        <h1>Over deze applicatie</h1>
        <p>Deze applicatie is gemaakt in opdracht van het vak 'Client-side web frameworks' op Avans Hogeschool in Breda</p>
       

        <h1>VoetbalVereniging</h1>
        <p>
          De naam van dit project is 'VoetbalVereniging'.
          Dit project houdt in dat ieder persoon een eigen team kan registreren. 
          Bij het registreren van een team wordt de gebruiker automatisch als coach van het
          team geregistreerd. Binnen het team is het mogelijk om personen toe te voegen.
          Om te kunnen voetballen zijn er verschillende velden beschikbaar, de
          enige persoon die de beschikbare velden kan toevoegen aan het systeem is de
          administrator. De administrator organiseert ook de wedstrijden, bij het organiseren worden er
          aan twee teams een voetbalveld en een datum toegewezen.
          In totaal zijn er dus, buiten de gebruikers om, 3 entiteiten, namelijk: team, veld en wedstrijd.
        </p>
      </div>
  </div>
  <div>
      <p>Name</p>
      <p>1234567</p>
    </div>

</body>

</html>
<router-outlet></router-outlet>