<div id="navbar">
    <button mat-button routerLink="/teams">Teams</button>
    <button mat-button routerLink="/fields">Velden</button>
    <button mat-button routerLink="/competitions">Wedstrijden</button>
</div>
<nav>
    <a routerLink="/teams">Teams </a>
    <a routerLink="/fields">Velden </a>
    <a routerLink="/competitions">Wedstrijden </a>
</nav>